.clients {
    max-width: 150px;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.5 !important;
}

.clients h3,
.slider h3,
.slider h5 {
    text-shadow: 1px 1px3px rgba(red, green, blue, alpha);
}

.parallax container {
    height: 20%;
}

.clients img {
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

section,
footer {
    padding: 20px 0;

}

.donasi img,
.text {
    width: 200px;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
}

.donasi h6 {
    font-weight: bold;
}

.judul h4 {
    font-weight: bold;
    text-align: center;

}

#carousell img {
    text-align: center;
}

.myImg {
    text-align: center;
}

.myImg img {
    margin: 10px;
}

#carousell img,
p {
    border-radius: 7%;
    width: 200px;
    text-align: center;
    font-weight: bold;
    margin: auto;
}
